*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

nav a{
    color: rgb(209, 103, 255);
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;  
    font-weight: bold;
}

nav ul{
    margin-left: 55%;
    margin-top: -40px;
}

nav h1{
    color: white;
    font-size: 60px;
}

nav{
    margin-top: -100px;
    background-color: black;
    height: 80px;
}

.nav a:hover{
    color: white;
}

nav .active{
    color: white;
}

h1{
    font-size: 45px;
    margin-left: 50px;
    margin-top: 100px;
}

.hd{
    font-size: 60px;
    margin-left: 50px;
    margin-top: -400px;
    font-weight: 700;
    color: purple;
    text-shadow: 4px 3px 2px plum;
}

h2{
    font-size: 40px;
    margin-left: 55px;
    margin-top: 35px;
}

h2{
    color:  rgb(174, 5, 247);
    animation-name: kavi;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
}
   
@keyframes kavi{
    25%{color:  rgb(68, 2, 97)}
    50%{color:  rgb(104, 1, 148)}
    75%{color:  rgb(117, 4, 165)}
    100%{color:  rgb(154, 5, 217)}
}

p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 30px;
    color: black;
}

button{
    margin-top: 40px;
    margin-left: 80px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(174, 5, 247);
    color: white;
    font-weight: bold;
    font-family: cursive;
}

button:hover{
    cursor: pointer;
    background-color: rgb(206, 147, 231);
    color: black;
    transform: scale(1.1);
    font-size: 20px;
    font-weight: bold;
}


.ic{
    margin-left: 115px;
    font-size: 45px;
    margin-top: 10px;
}

.ic a{
    text-decoration: none;
}

.me img{
    width: 330px;
    height: 380px;
    border: solid 4px;
    padding: 10px;
    margin-left: 1080px;
    margin-top: 100px;
    border-radius: 200px;

}

/* phone */

@media (min-width: 310px) and (max-width: 480px){

    nav{
        flex-direction: column;
    }

    header{
        width: 100%;
    }

    nav a{
        color: rgb(209, 103, 255);
        text-decoration: none;
        font-size: 13px;
        padding-left: 12px;  
        font-weight: bold;
    }

    nav ul{
        margin-left: 15.5%;
        margin-top: -40px;
        padding-top: 6px;
        margin-right: 15px;
    }

    nav h1{
        color: white;
        font-size: 30px;
        margin-left: 0.5px;
        padding: 7px;
    }

    nav{
        margin-top: -100px;
        background-color: black;
        height: 50px;
        width: 100%;
    }

    .nav a:hover{
        color: white;
    }

    nav .active{
        color: white;
    }

    h1{
        font-size: 25px;
        margin-left: 50px;
        margin-top: 100px;
    }

    .hd{
        font-size: 28px;
        margin-left: 45px;
        margin-top: 15px;
        font-weight: 700;
        color: purple;
        text-shadow: 4px 3px 2px plum;
    }

    h2{
        font-size: 28px;
        margin-left: 52px;
        margin-top: 8px;
    }

    h2{
        color:  rgb(174, 5, 247);
        animation-name: kavi;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    @keyframes kavi{
        25%{color:  rgb(68, 2, 97)}
        50%{color:  rgb(104, 1, 148)}
        75%{color:  rgb(117, 4, 165)}
        100%{color:  rgb(154, 5, 217)}
    }

    p{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        margin-left: 35px;
        margin-top: 10px;
        color: black;
    }

    button{
        margin-top: 19px;
        margin-left: 85px;
        width: 180px;
        height: 40px;
        font-size: 18px;
        border-radius: 20px;
        background-color: rgb(174, 5, 247);
        color: white;
        font-weight: bold;
        font-family: cursive;
    }

    button:hover{
        cursor: pointer;
        background-color: rgb(206, 147, 231);
        color: black;
        transform: scale(1.1);
        font-size: 20px;
        font-weight: bold;
    }


    .ic{
        margin-left: 129px;
        font-size: 40px;
        margin-top: 20px;
    }

    .ic a{
        text-decoration: none;
    }

    .me img{
        width: 130px;
        height: 160px;
        border: solid 3px;
        padding: 3px;
        margin-left: 115px;
        margin-top: -5px;
        border-radius: 200px;
    }
    
}


/* tab */

@media (min-width: 500px) and (max-width: 900px) {

    nav{
        flex-direction: column;
    }

    header{
        width: 112%;
    }

    nav a{
    color: rgb(209, 103, 255);
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;  
    font-weight: bold;
    padding-top: 20px;
    }

    nav ul{
        margin-left: 35%;
        margin-top: -40px;
    }

    nav h1{
        color: white;
        font-size: 55px;
        margin-left: 30px;
    }

    nav{
        margin-top: -100px;
        background-color: black;
        height: 70px;
    }

    .nav a:hover{
        color: white;
    }

    nav .active{
        color: white;
    }

    h1{
        font-size: 45px;
        margin-left: 50px;
        margin-top: 100px;
    }

    .hd{
        font-size: 47px;
        margin-left: 45px;
        margin-top: 5px;
        font-weight: 700;
        color: purple;
        text-shadow: 4px 3px 2px plum;
    }

    h2{
        font-size: 40px;
        margin-left: 50px;
        margin-top: 10px;
    }

    h2{
        color:  rgb(174, 5, 247);
        animation-name: kavi;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    @keyframes kavi{
        25%{color:  rgb(68, 2, 97)}
        50%{color:  rgb(104, 1, 148)}
        75%{color:  rgb(117, 4, 165)}
        100%{color:  rgb(154, 5, 217)}
    }

    p{
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        margin-left: 50px;
        margin-top: 10px;
        color: black;
    }

    button{
        margin-top: 40px;
        margin-left: 80px;
        width: 230px;
        height: 50px;
        font-size: 23px;
        border-radius: 20px;
        background-color: rgb(174, 5, 247);
        color: white;
        font-weight: bold;
        font-family: cursive;
    }

    button:hover{
        cursor: pointer;
        background-color: rgb(206, 147, 231);
        color: black;
        transform: scale(1.1);
        font-size: 23px;
        font-weight: bold;
    }


    .ic{
        margin-left: 130px;
        font-size: 50px;
        margin-top: 20px;
    }

    .ic a{
        text-decoration: none;
    }

    .me img{
        width: 230px;
        height: 280px;
        border: solid 4px;
        padding: 6px;
        margin-left: 490px;
        margin-top: -190px;
        border-radius: 200px;

    }
    
}
