*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

nav a{
    color: rgb(209, 103, 255);
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;  
    font-weight: bold;
}

nav ul{
    margin-left: 55%;
    margin-top: -40px;
}

nav h1{
    color: white;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 5px;
}

nav{
    background-color: black;
    height: 80px;
    margin-top: -5px;
}

.nav a:hover{
    color: white;
}

nav .active{
    color: white;
}

.hd{
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(116, 1, 165);
    font-size: 40px;
    text-shadow: 4px 3px 2px plum;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* phone */

@media (min-width: 310px) and (max-width: 480px){

    nav a{
        color: rgb(209, 103, 255);
        text-decoration: none;
        font-size: 13px;
        padding-left: 14px;  
        font-weight: bold;
    }
    
    nav ul{
        margin-left: 12%;
        margin-top: -45px;
        padding: 10px;
    }

    nav h1{
        color: white;
        font-size: 30px;
        margin-left: 1px;
        margin-top: 13px;
        padding: 7px;
    }

    nav{
        background-color: black;
        height: 45px;
        margin-top: -13px;
    }

    .nav a:hover{
        color: white;
    }

    nav .active{
        color: white;
    }

    .hd{
        text-shadow: 4px 3px 2px plum;
        margin-right: 30px;
        margin-top: 10px;
        color:  rgb(116, 1, 165);
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

}

/* tab */

@media (min-width: 500px) and (max-width: 900px) {
    
    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-color: white;
    }

    nav a{
        color: rgb(209, 103, 255);
        text-decoration: none;
        font-size: 20px;
        padding-left: 30px;  
        font-weight: bold;
    }

    nav ul{
        margin-left: 35%;
        margin-top: -50px;
        padding: 10px;
    }

    nav h1{
        color: white;
        font-size: 50px;
        margin-left: 50px;
        margin-top: 13px;
    }

    nav{
        background-color: black;
        height: 60px;
        margin-top: -13px;
    }

    .nav a:hover{
        color: white;
    }

    nav .active{
        color: white;
    }

    .hd{
        text-shadow: 4px 3px 2px plum;
        margin-left: 30px;
        margin-top: 10px;
        color:  rgb(116, 1, 165);
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

}
